<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.vooda.world">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>

   <!-- <permission android:name="android.permission.INSTALL_PACKAGES"/>-->


    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ActionBarTheme"
        tools:replace="android:icon">
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.WithdrawalsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.WithdrawalsApplyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.MyFriendActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.FriendInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.PaymentsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.GongingTaskActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.RedPacketActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.CompletedTaskActivity"
            android:screenOrientation="portrait"/>



        <!--  微信分享-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>


        <receiver android:name=".ui.receiver.AppInstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>


        <meta-data
            android:name="design_width"
            android:value="720"/>
        <meta-data
            android:name="design_height"
            android:value="1280"/>
    </application>


</manifest>